<nav>
    <a href="{{ path('coucou') }}">Accueil</a>
    {#  si nous ne sommes pas connectés #}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('app_login') }}">Login</a>
    {% else %}
    <a href="{{ path('app_logout') }}">Logout</a>
    {% endif %}
</nav>