{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    {% include 'coucou/_menu.html.twig' %}
    <h1>{{ title }}</h1>
    <p>Après la création de la database en `MySQL` nommée `coucousymfonyg2`,<br><br>

        Nous allons créer des entités.</p>
</div>
{% endblock %}
