{% extends 'coucou/template.front.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block main %}
    <h1>{{ title }}</h1>
    <p>Après la création de la database en `MySQL` nommée coucousymfonyg2,<br><br>

        Nous allons créer des entités.</p>
{% endblock %}
